/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.text-bg-disable {
    color: #d1cfcf !important;
    background-color: #e6e3e3 !important;
}